<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link"href="#" (click)="onOpenFlights()">Home</a>
      </div>
    </div>
  </div>
</nav>
<div >
  <ng-container *ngIf="!selectedDestinationId">
    <bp-flights (validarVuelo)="onFlightSelected($event)"></bp-flights>
  </ng-container>
  <ng-container *ngIf="selectedDestinationId" >
    <bp-room-list [selectedDestinationId]="selectedDestinationId"></bp-room-list>
  </ng-container>
  <app-resumen-reserva></app-resumen-reserva>

</div>


